.product{

    min-height: calc(100vh - 90px);
    background-color:rgb(243, 242, 242); 
    padding-top: 90px;
  
}


.productContainer{
    height: 100%;

    h1{
        margin-bottom: 20px;
       
       }

       h3{
        margin-bottom: 20px;
        margin-top: 50px;
       }

    form{
        padding: 20px 10%;

       
        

        input{
            width: 100%;
            margin-bottom: 20px;
            height: 30px;
            padding: 5px;
            font-size: 16px;
        }

        select{
            width: 100%;
            margin-bottom: 20px;
            height: 40px;
            padding: 5px;
            font-size: 16px;}

        p{
            color: red;
            margin: 0;
            font-size: 12px;
            margin-bottom: 35px;
        }


        button{
            margin-top: 25px;
            width: 100%;
            background-color: green;
            border: none;
            padding: 10px 25px;
            border-radius: 5px;
            color: white;
            font-size: 16px;
        }
        button:disabled{
            cursor: not-allowed;
            background-color: rgb(116, 141, 116);
         }
    
    }


   

}  



.dropzone{
    background-color: white;
    height:150px
   
}


.dropzoneContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%
 
}

.imageItems{
    color: black;
}


@media (min-width: 1024px) {

    .product{
        height: calc(100vh - 70px);
        overflow: scroll;
        padding-top: 70px;

        margin-left: 17%;

      
    }

}