.coupon{

    min-height: calc(100vh - 90px);
    background-color:rgb(233 233 233); 

    padding-top: 90px;
  
}


.couponContainer{
    height: 100%;
    overflow-x: scroll;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
   scrollbar-width: none;  /* Firefox */

   


    form{
        padding: 20px 10%;

      
        

        input{
            width: 100%;
            margin-bottom: 5px;
            height: 30px;
            padding: 5px;
            font-size: 16px;
        }

        p{
            color: red;
            margin: 0;
            font-size: 12px;
        }

        div{

            display: flex;
            flex-direction: row;
            align-items: center;
            span{

                margin-top: 25px;
            }
        }


        button{
            margin-top: 25px;
            margin-right: 15px;
           
            background-color: green;
            border: none;
            padding: 10px 25px;
            border-radius: 5px;
            color: white;
            font-size: 16px;
        }

       
        button:disabled{
           cursor: not-allowed;
           background-color: rgb(116, 141, 116);
        }

        .error{
            margin-top: 15px;
             color: red;
             display: block;
     
            }
     
            .success{
             margin-top: 15px;
             color: green;
             display: block;
     
            }
    
    }

  
}

.couponContainer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.firstSection{

    padding: 20px 10%;

    h3{
        margin-top: 20px;
        margin-bottom: 30px;
    }

    input{

        padding: 5px;
        outline: none;
        border-radius: 8px;
        margin-right: 10px;
        border-width: 1px;
        border-color:rgb(194, 190, 190);
    }

    p{
        background-color: white;
        margin-top: 20px;
        width: 80%;
       padding: 10px 8px;
       font-style: italic;
       box-shadow: 0 4px 8px 0 rgba(207, 203, 203, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
     
    }


   
}







@media (min-width: 1024px) {

    .coupon{
       height: calc(100vh - 70px);
       overflow: scroll;
    
        padding-top: 70px;

        margin-left: 17%;

      
    }


}