



.verticalScroll{

    overflow-x: scroll;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.verticalScroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}











.table{

   
   
    padding: 29px 10%;
    min-width: 700px;

    .boxShadow{
          box-shadow: 0 4px 8px 0 rgba(207, 203, 203, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    }
   

   
 
  
}

.boxShadow{
    box-shadow: 0 4px 8px 0 rgba(207, 203, 203, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}


.heading{

    margin-bottom: 20px;
}

.noData{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin-top: 1px;
    box-shadow: 0 4px 8px 0 rgba(207, 203, 203, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    

    p{
        color:gray;
    }



}

.doDataIcon{
height: 60px;
width: 60px;
color:gray;

}

.errorIcon{
    height: 60px;
    width: 60px;
    color:#FF3D00;
    
    }
    







.headerContainer{

   
    padding: 20px;
    display: flex;
    flex-direction: row;

    background-color:rgb(255, 255, 255);
    margin-bottom: 1px;
    
   
    
}
.dataContainer{

   
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color:white;
   

    margin-bottom: 1px;
   
   
    
}

.dataContainer:hover{
    background-color:rgb(247, 247, 247)
}



.header{
    display: inline-block;
    width: 33.333%;
    margin-left: 10px;
}

.discount{
    display: inline-block;
    width: 23.333%;
    margin-left: 10px;
}

.discountData{
    display: inline-block;
    width: 23.333%;
    margin-left: 10px;
}


.data{
    display: inline-block;
    width: 33.333%;
    margin-left: 10px;

}


.tableData{

  
  


}

.edit{
    color: red;
    margin-right: 30px;
    cursor: pointer;
    
}

.trash{
    color: red;
    cursor: pointer;
}


.navigatepages button  {
    margin-right: 10px;
    width: 40px;
    padding: 10px;

}

.error{
    margin-top: 15px;
     color: red;
     display: block;

    }

    .success{
     margin-top: 15px;
     color: green;
     display: block;

    }


    .loader2 {
        width: 48px;
      height: 48px;
      border: 5px solid #FFF;
      border-bottom-color: #FF3D00;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
       }


    .loader {
        width: 25px;
        height: 25px;
        border: 5px dotted #706e6e;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }

      .buttonAndLoaderContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        span{

            margin-top: 25px;
        }
      }

      
      .universalButton{
        margin-top: 25px;
        margin-right: 15px;
        background-color: green;
        border: none;
        padding: 10px 25px;
        border-radius: 5px;
        color: white;
        font-size: 16px;
    }

    .universalButton:disabled{
        cursor: not-allowed;
        background-color: rgb(116, 141, 116);
     }
      
      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      } 




    @media (min-width: 1024px) {

        .error{
       
            color: red;
            display: inline-block;
    
           }
    
           .success{
           
            color: green;
          
    
           }
    


    }  