
.table{

   
   
    padding: 29px 10%

   
 
  
}

.noData{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin-top: 1px;

    p{
        color:gray;
    }



}

.doDataIcon{
height: 60px;
width: 60px;
color:gray;

}







.headerContainer{

   
    padding: 20px;
    display: flex;
    flex-direction: row;

    background-color:rgb(255, 255, 255);
    margin-bottom: 1px;
    
   
    
}
.dataContainer{

   
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color:white;

    margin-bottom: 1px;
   
   
    
}

.dataContainer:hover{
    background-color:rgb(247, 247, 247)
}



.header{
    display: inline-block;
    width: 33.333%;

  
    

}

.data{
    display: inline-block;
    width: 33.333%;

}


.tableData{
  


}

.edit{
    color: red;
    margin-right: 30px;
    
}

.trash{
    color: red;
}


.navigatepages button  {
    margin-right: 10px;
    width: 40px;
    padding: 10px;

}

.error{
    margin-top: 15px;
     color: red;
     display: block;

    }

    .success{
     margin-top: 15px;
     color: green;
     display: block;

    }




    @media (min-width: 1024px) {

        .error{
       
            color: red;
            display: inline-block;
    
           }
    
           .success{
           
            color: green;
          
    
           }
    


    }  